/* Global Reset */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    padding: 0 20px; /* Padding sur les côtés, réduit pour une meilleure réactivité */
    text-align: center; /* Centrer le texte */
    box-sizing: border-box; /* Inclure le padding dans les dimensions */
    min-height: 100vh; /* Assurer que la hauteur minimale du body soit 100% de la fenêtre */
}

/* Footer */
#footer-placeholder {
    margin-top: auto;
    padding: 10px 0;
}

/* Book Details Container */
#book-details {
    width: 100%; /* S'adapte à la largeur de l'écran */
    max-width: 600px; /* Largeur maximale */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto; /* Centrer horizontalement */
    margin-top: 10vh; /* Utilisation de vh pour ajuster l'espacement par rapport à la hauteur de la fenêtre */
    margin-bottom: 10vh; /* Marges variables, plus flexible */
}

/* Title */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0 10px;
}

/* Image */
img {
    max-width: 100%;
    border-radius: 5px;
}

/* Paragraphs */
p {
    margin: 10px 0;
    line-height: 1.6;
    padding: 0 10px;
}

/* Strong text */
strong {
    color: #333;
}

/* Media Queries */

/* Lorsque l'écran est inférieur à 1024px (Tablettes) */
@media (max-width: 1024px) {
    body {
        padding: 0 30px; /* Réduit les marges pour les tablettes */
    }

    #book-details {
        margin-top: 5vh; /* Moins d'espace au-dessus */
        padding: 15px; /* Réduit légèrement le padding interne */
    }

    h2 {
        font-size: 22px; /* Réduit la taille du texte */
    }

    p {
        font-size: 16px; /* Réduit légèrement la taille de la police */
    }
}

/* Lorsque l'écran est inférieur à 768px (Smartphones) */
@media (max-width: 768px) {
    body {
        padding: 0 15px; /* Réduit encore plus les marges latérales pour les petits écrans */
    }

    #book-details {
        margin-top: 5vh; /* Moins d'espace au-dessus */
        padding: 10px; /* Réduit encore le padding pour les petits écrans */
    }

    h2 {
        font-size: 20px; /* Plus petite taille de texte pour les petits écrans */
    }

    p {
        font-size: 14px; /* Réduit encore la taille du texte */
    }
}

/* Lorsque l'écran est inférieur à 480px (Très petits écrans / Mobile en mode portrait) */
@media (max-width: 480px) {
    body {
        padding: 0 10px; /* Réduit les marges pour les très petits écrans */
    }

    #book-details {
        margin-top: 40vh; /* Réduit l'espace au-dessus pour un meilleur ajustement */
        padding: 10px;
    }

    h2 {
        font-size: 18px; /* Très petite taille de texte */
    }

    p {
        font-size: 12px; /* Très petite taille de texte pour les petits écrans */
    }
}
