/*
.catalogue-button.disabled,
.action-button.disabled,
.specials-button.disabled {
    color: grey;
    pointer-events: none;
    cursor: not-allowed; 
}


.nav a.disabled {
    color: grey;
    pointer-events: none; 
    cursor: not-allowed; 
}*/


