/* Styles par défaut pour les grands écrans */
html, body {
    height: 100%; /* Assurez-vous que le body remplit la hauteur de la fenêtre */
    margin: 0; /* Supprimer les marges par défaut */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
}

#footer-placeholder {
    margin-top: auto; /* Pousse le footer vers le bas */
}


.info-columns {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.column {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-bg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon-bg i {
    font-size: 30px;
}

.column h3, .column p {
    margin: 10px 0;
}

.action-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button:hover {
    background-color: #0056b3;
}



/* Styles pour les tablettes */
@media (max-width: 768px) {
    .info-columns {
        flex-direction: column; /* Empile les colonnes verticalement */
        align-items: center; /* Centre les colonnes horizontalement */
        margin-top: 10px; /* Réduit la marge supérieure */
        margin-bottom: 10px; /* Réduit la marge inférieure */
    }

    .column {
        margin-bottom: 20px; /* Ajoute de l'espace entre les colonnes empilées */
        width: 90%; /* Réduit la largeur des colonnes */
        max-width: 600px; /* Limite la largeur maximale des colonnes */
    }
}

/* Styles pour les mobiles */
@media (max-width: 480px) {
    .icon-bg {
        width: 50px; /* Réduit la taille de l'icône */
        height: 50px; /* Réduit la hauteur de l'icône */
        margin-bottom: 8px; /* Réduit l'espace sous l'icône */
    }

    .icon-bg i {
        font-size: 24px; /* Réduit la taille de l'icône */
    }

    .action-button {
        padding: 12px 0; /* Réduit le padding vertical du bouton */
        font-size: 14px; /* Réduit la taille du texte du bouton */
    }
}